<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto+Mono|Roboto+Condensed" rel="stylesheet">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script type="text/javascript" src="{{ "/js/bg.js" | prepend: site.baseurl }}"></script>
	<!--<script type="text/javascript" src="{{ "/js/menu.js" | prepend: site.baseurl }}"></script>-->

	<script type="text/javascript" src="{{ "/js/menu.js" | prepend: site.baseurl }}"></script>

	<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
	<script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

	<!-- // <script type="text/javascript" src="{{ "/js/grid.js" | prepend: site.baseurl }}"></script> -->
	
	<script type="text/javascript" src="{{ "/js/grid.js" | prepend: site.baseurl }}"></script>

	<!-- <script type="text/javascript" src="{{ "/js/lightbox.js" | prepend: site.baseurl }}"></script> -->

	{% if page.custom_js %}
	  {% for js_file in page.custom_js %}
	  	<script src="{{ site.baseurl }}/js/{{js_file}}.js" type="text/javascript"></script>
	  {% endfor %}
	{% else %}
		<script src="/js/showall.js" type="text/javascript"></script>
	{% endif %}


</head>